<div class = "Main-content">
    <h1>Mytag</h1>
 </div>
   <div class="Wrapper">
       <div class="wrapper-logo">
           <div class="ride">
             <h3>Ride</h3> 
           </div>
           <div class="driver">
            <h3>Driver</h3>
           </div> 
       </div>
     <div class="wrapper-content">
       <h1> Request A Ride Now</h1>
     <form>
     <div class="form-group">
       <input style="background:lightgray" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter PickUp Location.">
       </div>
       <div class="form-group">
       <input  style="background:lightgray" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Destination">
       </div>
     </form>
     </div>
     <div class="driver-ride">
       <div class="JoinNow">
         <button type="submit" class="btn btn-primary mb1 bg-black">Request Now</button>
       </div>
       <div class="scheduleLetter">
        <button type="submit" class="btn btn-primary-later">Schedule for later</button>
       </div> 
   </div>

   </div>
   <div class ="right-bar">
      
   </div>
